body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden; }

h2 {
  font-size: 2em;
  text-align: center;
  font-weight: bolder;
  padding-top: 3em; }

p.description {
  text-align: center;
  font-weight: 600;
  padding: 0 15em;
  margin-bottom: 3em;
  font-size: 1.2em;
  color: #939393; }

#landing {
  background-color: #FCDB00;
  text-align: center; }
  #landing .initial {
    padding-top: 4em; }
    #landing .initial .globe {
      font-size: 3em;
      margin-top: -1em; }
    #landing .initial span {
      font-size: 1.8em;
      font-weight: bold;
      padding-left: 0.2em;
      position: relative;
      top: -0.2em; }
    #landing .initial .menu {
      font-size: 1.4em; }
    #landing .initial .social-network {
      margin-right: 0.6em;
      font-size: 1.4em; }
  #landing h1 {
    font-size: 3em;
    margin-top: 5em;
    font-weight: bold; }
  #landing p {
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 6em;
    margin-bottom: 2em;
    color: #5a4f0f; }
  #landing .btn-outline {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    padding: 0.5em 3.3em;
    border-radius: 2px;
    border: 2px solid #000; }
    #landing .btn-outline:hover {
      color: #000; }
  #landing .down-arrow {
    margin-top: 6em;
    font-size: 2em;
    padding-bottom: 1.8em; }

#features .feature-list {
  padding: 0 0 2em 6em; }
  #features .feature-list .feature-icon {
    font-size: 3em;
    text-align: left; }
  #features .feature-list .feature-desc {
    margin-left: 4em;
    position: relative;
    top: -50px; }
    #features .feature-list .feature-desc h4 {
      display: inline;
      font-weight: bold;
      text-align: left; }
    #features .feature-list .feature-desc p {
      padding-top: 0.8em;
      padding-right: 1em;
      color: #939393; }

#pricing .price {
  padding-left: 5em; }
  #pricing .price .p-col {
    margin-right: 2.5em; }
  #pricing .price .price-icon {
    text-align: center;
    font-size: 3em;
    border-radius: 50%;
    padding: 0.5em; }
    #pricing .price .price-icon.price-tablet {
      padding: 0.5em 0.7em;
      background: rgba(0, 0, 0, 0.2);
      color: #000; }
    #pricing .price .price-icon.price-laptop {
      background: black;
      color: #fff; }
    #pricing .price .price-icon.price-desktop {
      background: rgba(0, 0, 0, 0.2);
      color: #000; }
  #pricing .price h4 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder; }
  #pricing .price div p {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2em;
    color: #939393; }
  #pricing .price .subscription {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000;
    border-bottom: 2px solid #000; }
  #pricing .price .btn-outline {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: #000;
    padding: 0.5em 1.8em;
    border-radius: 2px;
    border: 2px solid #000; }
    #pricing .price .btn-outline:hover {
      color: #000; }

#work .works {
  padding-left: 4em; }
  #work .works .first {
    padding: 0 7em 0 5em; }
  #work .works .second {
    margin-top: 2em;
    padding: 0 7em 0 5em; }
  #work .works h4 {
    font-weight: bold;
    text-align: center; }
  #work .works .work-desc p {
    color: #939393;
    text-align: center;
    font-size: 1em;
    margin-top: -0.8em; }

#team {
  padding: 2em 5em 0 5em; }
  #team .teams {
    text-align: center; }
    #team .teams img {
      border-radius: 50%;
      padding: -1.5em -1.5em; }
    #team .teams h4 {
      font-size: 1.5em;
      margin-top: 2em;
      font-weight: bold;
      text-align: center; }
    #team .teams .image {
      margin-right: 0.5em; }
      #team .teams .image .image2 {
        padding: 0 2em; }
      #team .teams .image .designation {
        text-align: center;
        font-size: 1em;
        margin-top: -0.5em;
        color: #939393; }
      #team .teams .image .desc {
        text-align: center;
        font-size: 0.9em;
        font-weight: bold;
        margin-top: 1.5em;
        color: #939393; }
      #team .teams .image i {
        padding-right: 0.8em; }

#testimonials {
  padding-top: 3em; }
  #testimonials .stats {
    margin-left: 2em; }
    #testimonials .stats .icon {
      font-size: 3.5em; }
    #testimonials .stats h4 {
      font-weight: bold;
      font-size: 1.7em; }
    #testimonials .stats p {
      margin-top: -1em;
      color: #939393; }
  #testimonials .stats2 {
    margin-left: 5em; }
  #testimonials .test {
    margin-top: 4em;
    padding: 0 2em; }
    #testimonials .test .image {
      padding: 0 8em; }
      #testimonials .test .image img {
        position: relative;
        right: -27em;
        border-radius: 50%; }
    #testimonials .test h4 {
      font-size: 1.5em;
      font-weight: bold; }
    #testimonials .test p {
      color: #939393;
      font-weight: 400; }
    #testimonials .test .i-left {
      font-size: 1.3em;
      color: #939393; }
    #testimonials .test .test-desc {
      text-align: center;
      font-size: 1.2em;
      color: #939393;
      font-weight: bold; }
    #testimonials .test .i-right {
      position: relative;
      bottom: -4.3em;
      color: #939393;
      font-size: 1.3em; }

#contact .contact-details i {
  font-size: 2em; }
#contact .contact-details h4 {
  font-weight: 600;
  font-size: 1.5em; }
#contact .contact-details p {
  margin-top: -0.8em;
  color: #939393; }
#contact .feedback {
  margin-top: 2em; }
  #contact .feedback .text-input {
    height: 50px;
    width: 400px;
    color: #939393;
    border-radius: 1.5px;
    border: 2px solid #000; }
    #contact .feedback .text-input.hover {
      border-color: #000; }
  #contact .feedback .text-mesg {
    width: 400px;
    color: #939393;
    border-radius: 1.5px;
    border: 2px solid #000; }
    #contact .feedback .text-mesg.hover {
      border-color: #000; }
  #contact .feedback .btn-solid {
    background-color: #000;
    color: #fff;
    border-radius: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.6em 2em;
    margin: 0 8em; }
    #contact .feedback .btn-solid:hover {
      color: #fff; }

#newsletter {
  margin-top: 4em;
  background-color: #000; }
  #newsletter h2 {
    font-weight: bold;
    padding-top: 2.5em;
    color: #fff; }
  #newsletter .text {
    padding-left: 3em; }
    #newsletter .text .text-input {
      height: 3.4em;
      width: 550px;
      color: #939393;
      border-radius: 2px;
      display: inline-block; }
    #newsletter .text a {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1em;
      display: inline-block;
      border-radius: 2px;
      background-color: #fff;
      color: #000;
      padding: 0.92em 3em;
      margin-top: -0.1em;
      margin-left: 0.1em; }
  #newsletter .links {
    padding-bottom: 7em;
    margin-top: 6em; }
    #newsletter .links p {
      color: #939393;
      margin-top: -0.9em;
      padding: 0 1em; }

/*# sourceMappingURL=styles.css.map */
