body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  padding-top: 3em;
}
p.description {
  text-align: center;
  font-weight: 600;
  padding: 0 13em;
  margin-bottom: 3em;
  font-size: 1.5em;
  color: $secondary-pg-color;
}
