#features {

  .feature-list {
    padding: 0 6em;

    &.second {
      margin-top: 2em;
    }
  }

  .feature-icon {
    font-size: 2em;
    text-align: right;
    margin-right: 0;
    padding-right: 0;
  }
  h5 {
    font-weight: bold;
    text-align: left;
  }
}
