#landing {
    background-color: #FCDB00;
    text-align: center;

    div.initial {
      padding-top: 3em;
    }

    i.globe {
      font-size: 1.5em;
      &,span {
        font-size: 1em;
        font-weight: bold;
      }
      }
    i.social-network {
      margin-right: 0.6em;
    }

    span {
      font-weight: bold;
    }

    h2 {
      margin-top: 5em;
      font-weight: bolder;
    }

    p {
      font-weight: 600;
      padding: 0 3em;
      margin-bottom: 2em;
    }

    .btn-outline {
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      padding: 0.5em 3.5em;
      border-radius: 2px;
      border: 2px solid #000;

      &:hover {
        color: #000;
      }
    }
    
    .down-arrow {
      margin-top: 6em;
      font-size: 1.5em;
      padding-bottom: 1.8em;
    }
}
