#landing {
    background-color: #FCDB00;
    text-align: center;

    div.initial {
      padding-top: 3em;
    }
    i.globe {
      font-size: 2.5em;
      }
    i.social-network {
      margin-right: 0.6em;
    }

    span {
      font-weight: bold;
    }
}
