#pricing {
  .price {
    .p-col {
      margin-left: 3.7em;
    }
  .price-icon {
    text-align: center;
    font-size: 3.5em;
    border-radius: 50%;
    padding: 0.5em;

    &.price-tablet {
      padding: 0.5em 0.7em;
      background:rgba(0,0,0,0.2);
      color:$primary-color;
    }
    &.price-laptop {
      background:rgba(0,0,0,1);
      color:$secondary-color;
    }
    &.price-desktop {
      background:rgba(0,0,0,0.2);
      color:$primary-color;
    }
  }
  h4 {
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
  }
  div p {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2em;
    color: $secondary-pg-color;
  }
  .subscription {
    text-align: center;
    font-size: 1.8em;
    font-weight: bolder;
    text-transform: uppercase;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
  }

  .btn-outline {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color: $primary-color;
    height: 3em;
    width: 9em;
    border-radius: 2px;
    border: 2px solid $primary-color;

    &:hover {
      color: $primary-color;
    }
  }
  }
}
