#team {
  padding: 2em 5em 0 5em;
  .teams {
    text-align: center;
  }
    img {
      border-radius: 50%;
      padding : -1.5em -1.5em;
    }
  h5 {
    margin-top: 2em;
    font-weight: bolder;
    text-align: center;
    }
    .image {
    p.designation {
      text-align: center;
      font-size: 0.9em;
      margin-top: -1em;
    }
    p.desc {
      text-align: center;
      font-size: 0.9em;
      font-weight: 600;
      margin-top: 1.5em;
    }
    }
}
