#testimonials {
  padding-top : 3em;

  .stats {
    margin-left: 2em;
    .icon {
      font-size: 3.5em;
    }

    h4 {
      font-weight: bold;
      font-size: 1.7em;
    }

    p {
      margin-top: -1em;
      color: $secondary-pg-color;
    }
  }
  .stats2 {
    margin-left: 5em;
  }

  .test {
    margin-top: 4em;
    padding: 0 2em;
    .carousel-indicators {
      bottom: -4em;
    }
    .carousel-indicators li{
      border: 1px solid $primary-color;
    }
    .carousel-indicators .active{
      background-color: $primary-color;
    }
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
  .image {
    padding: 0 8em;

    img {
      position: relative;
      right: -27em;
      border-radius: 50%;
    }
  }
    h4 {
      font-size: 1.5em;
      font-weight: bold;
    }

    p{
      color: $secondary-pg-color;
      font-weight: 400;
    }

    .i-left {
      font-size: 1.3em;
      color: $secondary-pg-color;
    }
    .test-desc {
      text-align: center;
      font-size: 1.2em;
      color: $secondary-pg-color;
      font-weight: bold;
    }
    .i-right {
      position: relative;
      bottom: -4.3em;
      color: $secondary-pg-color;
      font-size: 1.3em;
    }
}
}
