#work {
  .works {
    padding-left: 4em;
    .first {
      padding: 0 7em 0 5em;
    }
    .second {
      margin-top: 2em;
      padding: 0 7em 0 5em;
    }


  h4 {
    font-weight: bold;
    text-align: center;
    }
    .work-desc {
    p {
      color: $secondary-pg-color;
      text-align: center;
      font-size: 1em;
      margin-top: -0.8em;
    }
    }
  }
}
