#work {
  .works {
    padding-left: 4em;
    .second {
      margin-top: 2em;
    }
  h5 {
    font-weight: bold;
    text-align: center;
    }
    .work-desc {
    p {
      text-align: center;
      font-size: 0.9em;
      margin-top: -1em;
    }
    }
  }
}
